# LangChain Core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# Pydantic for Data Validation
pydantic
pypdf
beautifulsoup4
docx2txt

# vector stores
azure-search-documents
azure-core
azure-identity

# pdf loaders requirements
pdfplumber
pdf2image
pytesseract 
pillow


# retriever
wikipedia
tavily-python
rank_bm25

# tools
ddgs
langchain-experimental

# for better visualization of tool calls and results
rich